{% extends 'base.html'  %}
{% block header %} 
{% block title %} Statistika {% endblock title %}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-2">
    </div>

    <div class="col-sm-8">
        <div class="card">
            <div class="card-header"><h3><i class='fas fa-chart-line'></i> Statistika</h3></div>
            <div class="card-body">
                <div class="row">
                    <div class=" col-sm-3"><h5><i class="fas fa-user"></i> Hodimlar:  <span class="badge badge-secondary">{{info.0}}</span></h5> </div>
                    <div class=" col-sm-3"><h5> <i class="fas fa-user-tie"></i> Mijozlar:  <span class="badge badge-secondary">{{info.1}}</span></h5> </div>
                    <div class="col-sm-3"><h5> <i class="fas fa-coffee"></i> Mahsulotlar:  <span class="badge badge-secondary">{{info.2}}</span></h5> </div>
                    <div class="col-sm-3"><h5> <i class="fas fa-handshake"></i> Sotilgan mahsulotlar:  <span class="badge badge-secondary">{{info.3}}</span></h5> </div>
                </div>
                <div class="row">
                    <div class=" col-sm-3"><h5><i class="fas fa-user"></i> Ommabop:  <span class="badge badge-secondary">{{info.0}}</span></h5> </div>
                    <div class=" col-sm-3"><h5> <i class="fas fa-user-tie"></i> Mijozlar:  <span class="badge badge-secondary">{{info.1}}</span></h5> </div>
                    <div class="col-sm-3"><h5> <i class="fas fa-coffee"></i> Mahsulotlar:  <span class="badge badge-secondary">{{info.2}}</span></h5> </div>
                    <div class="col-sm-3"><h5> <i class="fas fa-handshake"></i> Sotilgan mahsulotlar:  <span class="badge badge-secondary">{{info.3}}</span></h5> </div>
                </div>
                <div class="row">
                    <div class=" col-sm-3"><h5><i class="fas fa-user"></i> Hodimlar:  <span class="badge badge-secondary">{{info.0}}</span></h5> </div>
                    <div class=" col-sm-3"><h5> <i class="fas fa-user-tie"></i> Mijozlar:  <span class="badge badge-secondary">{{info.1}}</span></h5> </div>
                    <div class="col-sm-3"><h5> <i class="fas fa-coffee"></i> Mahsulotlar:  <span class="badge badge-secondary">{{info.2}}</span></h5> </div>
                    <div class="col-sm-3"><h5> <i class="fas fa-handshake"></i> Sotilgan mahsulotlar:  <span class="badge badge-secondary">{{info.3}}</span></h5> </div>
                </div>
            </div>
        </div> 
    </div>
</div>        
{% endblock content %}
      
 <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>    
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>    
</body>
</html>
